html
{
    margin:0;
    padding:0;
}

body
{
    margin:0;
    padding:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main
{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    width: 80vw;
    /*justify-content: center;*/
    justify-items: center;
    align-content: center;
}

h1,h2
{
    justify-content: center;
    display: flex;
}

h1
{
    margin:30px;
}

.panneau-row
{
    display:flex;
    width: 80vw;
    flex-direction:row ;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.panneau-col
{
    display:flex;
    width: 80vw;
    min-height:30vh;
    flex-direction:column ;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.section_wrap
{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    align-content: space-between;
}


.bloc
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    max-width:40vw;
    margin:10px;
    padding:5px;
}

main form
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/*HEADER*/

header
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:#CF0D2B;
    color:white;
}

#logo-top
{
    margin:10px;
    width: 5vw;
    height:5vw;
}

#titre
{
    font-size: x-large;
}

.banniere
{
    /*width: 100%;*/
    display: flex;
    /*margin-top: 6vh;*/
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.banniere h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    /*font-size: 2.8em;*/
}

header nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: larger;
    height:8vh;
    color:white;
    /*background-color:#FF0E05;*/
}

header .menu
{
    display: flex;
    /*width: 100vw;*/
}

header .panneau-row div
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .sous-menu{
    display: none;
    background-color:#CF0D2B;
    color:white;
    position: absolute;
    z-index: 1000;
}

header a, header a:visited
{
    color:white;
}

header nav > ul li:hover .sous-menu{
    display: block;
}

header .sous-menu li{
    float: none;
    width: 100%;
    text-align: left;
}

header .sous-menu a{
    padding: 10px;
    border-bottom: none;
    color:white;
}

header .sous-menu a:hover{
    border-bottom: none;
}

header .deroulant > a::after{
    content:" ▼";
}

header .deroulant:hover
{
    flex-direction: column;
    display: block;
}

header nav ul, header nav li
{
    display:flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    padding: 0;
    list-style: none;
}

header nav li
{
    margin:25px;
}

header nav a
{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

header nav a:hover
{
    transform: scale(1.2);
}

/*FOOTER*/

footer
{
    background-color: rgb(49, 49, 49);
    display: flex;
    width: 100%;
    flex-direction: row;
    color:white;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
}

#logo-bottom
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#logo-bottom img
{
    max-width: 14vw;
    max-height: 14vh;
}

#follow
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#contact
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#sous-contact
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#sous-contact div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin:10px;
    padding:10px;
    text-align: center;
}

#sous-contact div a
{
    color:white;
}

#plan-site
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

footer nav ul
{
    display:flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

footer nav li
{
    margin:3px;
}

footer nav ul li
{
    display: flex;
    flex-direction: column;
}

footer nav a, footer a
{
    text-decoration: none;
    color:white;
}

footer .menu a, footer .menu a:visited
{
    /*font-size: 1.2em;*/
    color:white;
}

footer .sous-menu a
{

    font-size: 0.8em;
}


footer .sous-menu 
{
    display: flex;
    flex-direction: column;
}

.logo
{
    height: 50px;
}

#membre
{
    margin-bottom:10px;
}

/*LIENS UTILES*/

